* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: darkslategray;
}
#main-header {
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
}

#rules-container {
    width: 90%;
    height: 80%;
    margin: 10px auto;
    background-color: floralwhite;
}