@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Source+Sans+Pro&display=swap');
/*
FONT FAMILY NAMES
Heading Font = font-family: 'Creepster', cursive;
Paragraph Font = font-family: 'Source Sans Pro', sans-serif;
*/

@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Roboto&display=swap');
/*
FONT FAMILY NAMES
Heading Font = font-family: 'DotGothic16', sans-serif;
Paragraph Font = font-family: 'Roboto', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3 {
    font-family: 'DotGothic16', sans-serif;
}

p, li {
    font-family: 'Roboto', sans-serif;
    color: #D1D1D1;
}

/*----------- MOBILE FIRST STYLINGS -----------------*/
#page-container {
    background-image: url('../images/bg-image-compressed.jpg');
    background-repeat: no-repeat;
    overflow-y: hidden;
    overflow-x: hidden;
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
}

#main-header {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    font-family: 'DotGothic16', sans-serif;
    letter-spacing: 5px;
    color: #D1D1D1;
}
#music-btn-container {
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}
#play-music-btn, #mute-music-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color:rgba(98, 98, 98, 0.8);
    border: solid #D1D1D1 2px;
    cursor: pointer;
}

#play-music-btn, #mute-music-btn i {
    font-size: 1rem;
    color:  #D1D1D1;
}
#rules-container {
    width: 90%;
    height: auto;
    margin: 5% auto;
    padding: 5px;
    background-color: rgba(98, 98, 98, 0.8);
    display: table;
    border-radius: 8px;
}



#rules-container p {
    text-align: center;
}

.rules-list li {
    list-style-position: inside;
    margin-left: 5px;
}

#start-game {
    margin-top: 50px;
    width: 40%;
    height: 30px;
    text-align: center;
    display: block;
    margin: 30px auto 10px auto;
}

#game-container{
    width: 90%;
    height: 300px;
    margin: 10px auto;
    padding: 5px;
    background-color: floralwhite;
    display: none;
}

#answer-btn-container{
    display: none;
    justify-content: space-around;
    flex-wrap: wrap;
}

.answer-btn {
    width: 45%;
    height: 60px;
    margin-top: 20px;
}


.score-div {
    background: floralwhite;
    width: 80%;
    margin: 0 auto;
    display: none;
}

#best-score {
    display: none;
}

#good-score {
    display: none;
}

#bad-score {
    display: none;
}

#worst-score {
    display: none;
}

